@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.white-box {
  @apply bg-white;
  @apply p-4;
  @apply rounded-md;
  @apply shadow;
}

.button-purple {
  @apply h-8;
  @apply bg-purple-500;
  @apply px-8;
  @apply rounded-md;
  @apply shadow;
  @apply text-white;
  @apply ring-purple-500;
  @apply hover:bg-purple-700;
  @apply font-semibold;
}

.button-white {
  @apply h-8;
  @apply bg-white;
  @apply px-8;
  @apply rounded-md;
  @apply shadow;
  @apply font-light;
  @apply ring-purple-500;
  @apply hover:ring-2;
}

.button-green {
  @apply h-8;
  @apply bg-green-400;
  @apply px-8;
  @apply rounded-md;
  @apply shadow;
  @apply text-white;
  @apply max-w-md;
  @apply hover:bg-green-500;
}

.button-red {
  @apply h-8;
  @apply bg-red-400;
  @apply px-8;
  @apply rounded-md;
  @apply shadow;
  @apply text-white;
  @apply max-w-md;
  @apply hover:bg-red-500;
}

.ck-form-header {
  @apply text-2xl;
  @apply font-display;
  @apply mt-4;
  @apply mb-6;
}

.ck-label {
  @apply text-gray-600;
  @apply font-body;
  @apply mt-6;
}

.ck-label-error {
  @apply ring-red-500;
  @apply ring-2;
}

.text-loading {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.img-loading {
  filter: blur(5px);
}
