<!DOCTYPE html>
<html lang="en" class="text-purple-800 font-body antialiased leading-tight">
  <head>
    <!-- Remove in production - React Devtools -->
    <!-- <script src="http://localhost:8097"></script> -->
    <!--  -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="min-h-screen bg-gray-100">
    <div id="redwood-app">
      <%= prerenderPlaceholder %>
    </div>
  </body>
</html>
